
/* Ninja Form Classes */
.ninja-forms-required-items {
    display: none;
}

span.ninja-forms-req-symbol {
    display: none;
}

.ninja-forms-field-error {
    color: #1fb5ac!important;
}

.text-wrap.label-above label, .textarea-wrap.label-above label{
	display: none!important;
}

.email_sub{
	.contactme{
		background: #20B5B3;
	    color: white;
	    margin-top: 15px;
	    border: none;
	    &:hover{
	    	background: #20B5B3;
	    }
	}
}

#yikes-easy-mc-form-1-EMAIL {
    width: 100%;
    padding: 10px;
}

.form_field{
	padding: 10px;
    background: #F0F0F0;
    border: none;
}
.big_field_text{
	padding: 10px;
    background: #F0F0F0;
    border: none;
}


/* Contact Form CSS */

.Contact_boxes-wrap {
    width: 48%;
    float: left;
    margin-right: 2%;
}

.Contact_boxes {
    padding: 10px;
    background: #f0f0f0;
    border: none;
}

.text_area_box-wrap {
    width: 98%;
}	

.text_area_box {
    background: white;
    border: none;
    padding: 15px;
}	

#contact_form {
    background: white;
    padding: 20px;
    font-family: $open;
}

input[type=text]:focus, textarea:focus {
  border: .5px solid green;
}

.Form_Button {
    border: none;
    padding: 10px;
    border-radius: 15px;
    min-width: 115px!important;
    background: #1fb5ac;
    color: white;
}


/* Contact Sidebar */

#contact_side{
	background: $white;
	font-family: $open;
	padding: 20px;
	.contact_info{
		margin-left: 10px;
		p, a{
			color: #8c8c8c;
			margin-bottom:10px; 
			a:hover{
				text-decoration: none;
				color: #1fb5ac;
			}
			i{
				margin-right: 20px;
			}
		}
		h3{
			color: #32323a;
			margin-bottom: 20px;
		}
		ul{
			list-style-type: none;
		    padding: 0;
		    margin: 0;
		    li{
		    	display: inline-block;
		    	i{
		    		font-size: 22px;
		    	}
		    	a{
		    		margin-right: 30px;
		    		&:hover{
		    			i{
		    				color: #1fb5ac;
		    			}
		    		}
		    	}
		    }
		}
	}
}