#intro_wrapper{
	max-width: 50%;
	margin: 25% auto;
	font-weight: 100;
	font-family: 'raleway';
	text-align: center;
	color: $white;
	.intro_button{
		border:1px solid $white;
		padding: 20px;
		border-radius: 50%;
		color: $white;
		&:hover{
			border: 1px solid #33CD99;
			//background: #33CD99;
			color: #33CD99;
		}
	}
	p{
		font-size: 1.9rem;
		letter-spacing: .5rem;
		margin-bottom: 20%;
	}
	h1{
		font-size: 2em;
	}
	h1,h3{
		text-transform: uppercase;
		font-weight:100;
	}
	h3{
		padding-bottom: 15px;
		font-weight: 100;
	}
}



#intro_content{
	background-image: url("../images/intro_bg.jpg");
	background-size: cover;
	height: 733px;
	#left_logo{
		padding-top: 0.55em;	
		font-family: $raleway;
		font-weight: 100;
		color: rgba(0,0,0,0.5);
	}
	#right_side_menu{
		    display: inline-block;
		    vertical-align: middle;
		    width: 20px;
		    height: 15px;
		    margin: 30px;
		    cursor: pointer;
		    position: absolute;
		    top: 0;
		    text-align: right;
		    right: 120px;
		span{
			height: 3px;
    		background: rgba(0,0,0,0.5);
    		margin-bottom: 6px;
		    display: block;
		}
	}
}

/* Boring Bootstrap CSS overwrites */
.navbar-default {
    background-color: rgba(43,119,105,0.4);
    border-color: transparent;
    position: absolute;
    /* margin: 0 auto; */
    /* left: 20%; */
    width: 100%;
    /* right: 20%; */
   
    a{
    	color: $white!important;
    }
    .navbar-brand{
		font-family: $raleway;
		font-weight: 300;
		opacity: .6;
		letter-spacing: .2em;
    }
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}
