.date{
	/*opacity: .5;*/
	color:#BEBEBE;
	font-size: 11px;
	text-align: center;
}

.blog-content{
	background: $white;
	padding: 15px;
}


.recent_posts{
	    margin-bottom: 90px;
	    background: #369787;
	    padding-bottom: 40px;
	.headline{
		color: #ffffff;
	}
} // end recent-posts

.post{
		background: $white;
		padding:10px;
		margin-top: 20px;
		font-weight: 200;
		font-size: 14px;
		color: #A7A7A7;
		border-radius: 10px;
		.post_link{
			color: #6E6D72;
				&:hover{
					text-decoration: none;
					color: #33CD99;
				}
		}
		.readmore{
			color: #20B5B3;
			&:hover{
				text-decoration: none;
				color: #e74c3c;
			}
		}
	} // end post

.home_date{
	/*opacity: .5;*/
	color: #BEBEBE!important;
	font-size: 11px;
	font-weight: 200;
	margin-left: 1.1px;
	margin-bottom: 6px;
}


/* Services Section */


.service{
	background: $white;
	padding:10px;
	margin: 20px 0;
	// font-weight: 200;
	font-size: 14px;
	// color: #A7A7A7;
	border-radius: 10px;
	// text-align: center;
	font-family: $raleway;
	ul{
		text-align: left;
		padding-top: 10px;
	}
	.service_title{
		font-weight: 500;
	    padding-bottom: 15px;
	    border-bottom: 1px solid #ccc;
	    text-align: center;
	}
	p{
		line-height: 2em;
	}
}