$white: #ffffff;
$black: #000000;
$open: "Open Sans", sans-serif;
$raleway: "Raleway", sans-serif;

@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap.scss';
body{
	background-color: #F1F2F7;
	padding: 0;
	margin: 0;
	font-family: $open;
}
html, body
{
    height: 100%;
}

#page_wrapper{
	padding-top: 2em;
	.page_content{
		margin-top: 3em;
	}
}

.post_content:last-child {
    border: none;
}
.post_content {
	text-align: center;		
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}
@import 'general';
@import 'header';
@import 'homepage';
@import 'work';
@import 'media';